<!DOCTYPE html>
<html>
<head>
    <title>Attendance Records</title>
</head>
<body>
    <h1>Attendance Records</h1>
    <table border='1'>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Day</th>
            <th>Name</th>
            <th>Time</th>
            <th>Status</th>
        </tr>
        {% for record in records %}
        <tr>
            <td>{{ record[0] }}</td>
            <td>{{ record[1] }}</td>
            <td>{{ record[2] }}</td>
            <td>{{ record[3] }}</td>
            <td>{{ record[4] }}</td>
            <td>{{ record[5] }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href='/'>Back</a>
</body>
</html>
